.rounded-sm	{
	border-radius: 10rpx;
}
.rounded{
	border-radius: 20rpx;
}
.rounded-md	{
	border-radius: 30rpx;
}
.rounded-lg	{
	border-radius: 40rpx;
}
.rounded-xl	{
	border-radius: 50rpx;
}
.rounded-2xl	{
	border-radius: 60rpx;
}
.rounded-3xl	{
	border-radius: 70rpx;
}
.rounded-full{
	border-radius: 50%;
}