.text-sm {
  font-size: 25rpx; }

.text-base {
  font-size: 30rpx; }

.text-lg {
  font-size: 40rpx; }

.text-xl {
  font-size: 50rpx; }
  
  .text-2xl {
    font-size: 80rpx; }
  
  .text-3xl {
    font-size: 100rpx; }
  
