.text-gray-50 {
  color: #F9FAFB; }

.text-gray-100 {
  color: #F3F4F6; }

.text-gray-200 {
  color: #E5E7EB; }

.text-gray-300 {
  color: #D1D5DB; }

.text-gray-400 {
  color: #9CA3AF; }

.text-gray-500 {
  color: #6B7280; }

.text-gray-600 {
  color: #4B5563; }

.text-gray-700 {
  color: #374151; }

.text-gray-800 {
  color: #1F2937; }

.text-gray-900 {
  color: #111827; }
