# Dependencies
node_modules

# Build outputs
build
dist
.turbo
deploy

# Secrets
.env
.env.local
.env.production.local
.env.development.local
.env.production

# Temp files
/tmp

# Logs
npm-debug.log
yarn-error.log
*.log

# Editors
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# Frontend compiled assets
public/assets

# 
.mp3
.mp4
.mov
tmp