@import './nprogress.css';
@reference "../styles.css";
:root {
  --header-height: 4rem;
  --font-sans: 'Zhi Mang Xing', 'Noto Sans SC', 'Inter Variable', sans-serif;
}
.active-link {
  @apply text-destructive;
}

body {
  button {
    @apply cursor-pointer;
  }
}

.theme-transition::view-transition-old(root),
.theme-transition::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.theme-transition::view-transition-new(root) {
  z-index: 2147483646;
}

.theme-transition::view-transition-old(root) {
  z-index: 1;
}
