APP_NAME=后盾云
APP_URL=https://localhost:3333
TZ=PRC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=4B0WlXPxaLEDTVxNB7vBTa7w1UKROr2j
NODE_ENV=development

# 数据库
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=admin888
DB_DATABASE=web

# 限流
LIMITER_STORE=database

# 阿里云
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_SMS_CODE_SIGN=
ALIYUN_SMS_CODE_TEMPLATE=

SMTP_HOST=smtpdm.aliyun.com
SMTP_PORT=465
SMTP_USERNAME=test@admin.houdunren.com
SMTP_PASSWORD=

TEST_USER_EMAIL="2300071698@qq.com"
TEST_USER_MOBILE=

# 微信公众号
WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_TOKEN=
WECHAT_DEFAULT_REPLY=欢迎回家

# 微信支付
WECHAT_PAY_APPID=
WECHAT_PAY_MCHID=
WECHAT_PAY_KEY=
DRIVE_DISK=fs

# 文件上传
UPLOAD_DRIVER=oss
UPLOAD_OSS_REGION=oss-cn-hangzhou
UPLOAD_OSS_BUCKET=
UPLOAD_OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
