.border {
  border: solid 0px #dcdcdc; }

.border-t-0 {
  border-top: solid 0px #dcdcdc; }

.border-r-0 {
  border-right: solid 0px #dcdcdc; }

.border-b-0 {
  border-bottom: solid 0px #dcdcdc; }

.border-l-0 {
  border-left: solid 0px #dcdcdc; }

.border {
  border: solid 1px #dcdcdc; }

.border-t-1 {
  border-top: solid 1px #dcdcdc; }

.border-r-1 {
  border-right: solid 1px #dcdcdc; }

.border-b-1 {
  border-bottom: solid 1px #dcdcdc; }

.border-l-1 {
  border-left: solid 1px #dcdcdc; }

.border {
  border: solid 2px #dcdcdc; }

.border-t-2 {
  border-top: solid 2px #dcdcdc; }

.border-r-2 {
  border-right: solid 2px #dcdcdc; }

.border-b-2 {
  border-bottom: solid 2px #dcdcdc; }

.border-l-2 {
  border-left: solid 2px #dcdcdc; }

.border {
  border: solid 3px #dcdcdc; }

.border-t-3 {
  border-top: solid 3px #dcdcdc; }

.border-r-3 {
  border-right: solid 3px #dcdcdc; }

.border-b-3 {
  border-bottom: solid 3px #dcdcdc; }

.border-l-3 {
  border-left: solid 3px #dcdcdc; }

.border {
  border: solid 4px #dcdcdc; }

.border-t-4 {
  border-top: solid 4px #dcdcdc; }

.border-r-4 {
  border-right: solid 4px #dcdcdc; }

.border-b-4 {
  border-bottom: solid 4px #dcdcdc; }

.border-l-4 {
  border-left: solid 4px #dcdcdc; }

.border {
  border: solid 5px #dcdcdc; }

.border-t-5 {
  border-top: solid 5px #dcdcdc; }

.border-r-5 {
  border-right: solid 5px #dcdcdc; }

.border-b-5 {
  border-bottom: solid 5px #dcdcdc; }

.border-l-5 {
  border-left: solid 5px #dcdcdc; }

.border {
  border: solid 6px #dcdcdc; }

.border-t-6 {
  border-top: solid 6px #dcdcdc; }

.border-r-6 {
  border-right: solid 6px #dcdcdc; }

.border-b-6 {
  border-bottom: solid 6px #dcdcdc; }

.border-l-6 {
  border-left: solid 6px #dcdcdc; }

.border {
  border: solid 7px #dcdcdc; }

.border-t-7 {
  border-top: solid 7px #dcdcdc; }

.border-r-7 {
  border-right: solid 7px #dcdcdc; }

.border-b-7 {
  border-bottom: solid 7px #dcdcdc; }

.border-l-7 {
  border-left: solid 7px #dcdcdc; }

.border {
  border: solid 8px #dcdcdc; }

.border-t-8 {
  border-top: solid 8px #dcdcdc; }

.border-r-8 {
  border-right: solid 8px #dcdcdc; }

.border-b-8 {
  border-bottom: solid 8px #dcdcdc; }

.border-l-8 {
  border-left: solid 8px #dcdcdc; }

.border {
  border: solid 9px #dcdcdc; }

.border-t-9 {
  border-top: solid 9px #dcdcdc; }

.border-r-9 {
  border-right: solid 9px #dcdcdc; }

.border-b-9 {
  border-bottom: solid 9px #dcdcdc; }

.border-l-9 {
  border-left: solid 9px #dcdcdc; }

.border {
  border: solid 10px #dcdcdc; }

.border-t-10 {
  border-top: solid 10px #dcdcdc; }

.border-r-10 {
  border-right: solid 10px #dcdcdc; }

.border-b-10 {
  border-bottom: solid 10px #dcdcdc; }

.border-l-10 {
  border-left: solid 10px #dcdcdc; }

.border {
  border: solid 11px #dcdcdc; }

.border-t-11 {
  border-top: solid 11px #dcdcdc; }

.border-r-11 {
  border-right: solid 11px #dcdcdc; }

.border-b-11 {
  border-bottom: solid 11px #dcdcdc; }

.border-l-11 {
  border-left: solid 11px #dcdcdc; }

.border {
  border: solid 12px #dcdcdc; }

.border-t-12 {
  border-top: solid 12px #dcdcdc; }

.border-r-12 {
  border-right: solid 12px #dcdcdc; }

.border-b-12 {
  border-bottom: solid 12px #dcdcdc; }

.border-l-12 {
  border-left: solid 12px #dcdcdc; }

.border {
  border: solid 13px #dcdcdc; }

.border-t-13 {
  border-top: solid 13px #dcdcdc; }

.border-r-13 {
  border-right: solid 13px #dcdcdc; }

.border-b-13 {
  border-bottom: solid 13px #dcdcdc; }

.border-l-13 {
  border-left: solid 13px #dcdcdc; }

.border {
  border: solid 14px #dcdcdc; }

.border-t-14 {
  border-top: solid 14px #dcdcdc; }

.border-r-14 {
  border-right: solid 14px #dcdcdc; }

.border-b-14 {
  border-bottom: solid 14px #dcdcdc; }

.border-l-14 {
  border-left: solid 14px #dcdcdc; }

.border {
  border: solid 15px #dcdcdc; }

.border-t-15 {
  border-top: solid 15px #dcdcdc; }

.border-r-15 {
  border-right: solid 15px #dcdcdc; }

.border-b-15 {
  border-bottom: solid 15px #dcdcdc; }

.border-l-15 {
  border-left: solid 15px #dcdcdc; }

.border {
  border: solid 16px #dcdcdc; }

.border-t-16 {
  border-top: solid 16px #dcdcdc; }

.border-r-16 {
  border-right: solid 16px #dcdcdc; }

.border-b-16 {
  border-bottom: solid 16px #dcdcdc; }

.border-l-16 {
  border-left: solid 16px #dcdcdc; }

.border {
  border: solid 17px #dcdcdc; }

.border-t-17 {
  border-top: solid 17px #dcdcdc; }

.border-r-17 {
  border-right: solid 17px #dcdcdc; }

.border-b-17 {
  border-bottom: solid 17px #dcdcdc; }

.border-l-17 {
  border-left: solid 17px #dcdcdc; }

.border {
  border: solid 18px #dcdcdc; }

.border-t-18 {
  border-top: solid 18px #dcdcdc; }

.border-r-18 {
  border-right: solid 18px #dcdcdc; }

.border-b-18 {
  border-bottom: solid 18px #dcdcdc; }

.border-l-18 {
  border-left: solid 18px #dcdcdc; }

.border {
  border: solid 19px #dcdcdc; }

.border-t-19 {
  border-top: solid 19px #dcdcdc; }

.border-r-19 {
  border-right: solid 19px #dcdcdc; }

.border-b-19 {
  border-bottom: solid 19px #dcdcdc; }

.border-l-19 {
  border-left: solid 19px #dcdcdc; }

.border {
  border: solid 20px #dcdcdc; }

.border-t-20 {
  border-top: solid 20px #dcdcdc; }

.border-r-20 {
  border-right: solid 20px #dcdcdc; }

.border-b-20 {
  border-bottom: solid 20px #dcdcdc; }

.border-l-20 {
  border-left: solid 20px #dcdcdc; }

.border-gray-50 {
  border-color: #F9FAFB; }

.border-gray-100 {
  border-color: #F3F4F6; }

.border-gray-200 {
  border-color: #E5E7EB; }

.border-gray-300 {
  border-color: #D1D5DB; }

.border-gray-400 {
  border-color: #9CA3AF; }

.border-gray-500 {
  border-color: #6B7280; }

.border-gray-600 {
  border-color: #4B5563; }

.border-gray-700 {
  border-color: #374151; }

.border-gray-800 {
  border-color: #1F2937; }

.border-gray-900 {
  border-color: #111827; }
