.border-gray-50 {
  border-color: #F9FAFB; }

.border-gray-100 {
  border-color: #F3F4F6; }

.border-gray-200 {
  border-color: #E5E7EB; }

.border-gray-300 {
  border-color: #D1D5DB; }

.border-gray-400 {
  border-color: #9CA3AF; }

.border-gray-500 {
  border-color: #6B7280; }

.border-gray-600 {
  border-color: #4B5563; }

.border-gray-700 {
  border-color: #374151; }

.border-gray-800 {
  border-color: #1F2937; }

.border-gray-900 {
  border-color: #111827; }
