@import "./colors.scss";
	
@for $i from 0 through 20 {
		.border{
			border:solid #{$i}px #dcdcdc;
		}
		.border-t-#{$i}{
			border-top:solid #{$i}px #dcdcdc;
		}
		
		.border-r-#{$i}{
			border-right:solid #{$i}px #dcdcdc;
		}
		.border-b-#{$i}{
			border-bottom:solid #{$i}px #dcdcdc;
		}
		.border-l-#{$i}{
			border-left:solid #{$i}px #dcdcdc;
		}
}

@each $key,$color in $colors {
	.border-#{$key}{
		border-color:#{$color}
	}
}

