	
.grid{
	display: grid;
}	

@for $i from 1 through 12 {
	.grid-cols-#{$i}{
		grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
	}
}


@for $i from 1 through 10 {
	.gap-#{$i*10}{
		gap: #{$i*10}rpx;
	}
}
