.grid {
  display: grid; }

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)); }

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)); }

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)); }

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)); }

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr)); }

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr)); }

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr)); }

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr)); }

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr)); }

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr)); }

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr)); }

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr)); }

.gap-10 {
  gap: 10rpx; }

.gap-20 {
  gap: 20rpx; }

.gap-30 {
  gap: 30rpx; }

.gap-40 {
  gap: 40rpx; }

.gap-50 {
  gap: 50rpx; }

.gap-60 {
  gap: 60rpx; }

.gap-70 {
  gap: 70rpx; }

.gap-80 {
  gap: 80rpx; }

.gap-90 {
  gap: 90rpx; }

.gap-100 {
  gap: 100rpx; }
