.p-10 {
  padding: 10rpx; }

.px-10 {
  padding: 0 10rpx; }

.py-10 {
  padding: 10rpx 0; }

.pt-10 {
  padding-top: 10rpx; }

.pr-10 {
  padding-right: 10rpx; }

.pb-10 {
  padding-bottom: 10rpx; }

.pl-10 {
  padding-left: 10rpx; }

.p-20 {
  padding: 20rpx; }

.px-20 {
  padding: 0 20rpx; }

.py-20 {
  padding: 20rpx 0; }

.pt-20 {
  padding-top: 20rpx; }

.pr-20 {
  padding-right: 20rpx; }

.pb-20 {
  padding-bottom: 20rpx; }

.pl-20 {
  padding-left: 20rpx; }

.p-30 {
  padding: 30rpx; }

.px-30 {
  padding: 0 30rpx; }

.py-30 {
  padding: 30rpx 0; }

.pt-30 {
  padding-top: 30rpx; }

.pr-30 {
  padding-right: 30rpx; }

.pb-30 {
  padding-bottom: 30rpx; }

.pl-30 {
  padding-left: 30rpx; }

.p-40 {
  padding: 40rpx; }

.px-40 {
  padding: 0 40rpx; }

.py-40 {
  padding: 40rpx 0; }

.pt-40 {
  padding-top: 40rpx; }

.pr-40 {
  padding-right: 40rpx; }

.pb-40 {
  padding-bottom: 40rpx; }

.pl-40 {
  padding-left: 40rpx; }

.p-50 {
  padding: 50rpx; }

.px-50 {
  padding: 0 50rpx; }

.py-50 {
  padding: 50rpx 0; }

.pt-50 {
  padding-top: 50rpx; }

.pr-50 {
  padding-right: 50rpx; }

.pb-50 {
  padding-bottom: 50rpx; }

.pl-50 {
  padding-left: 50rpx; }

.p-60 {
  padding: 60rpx; }

.px-60 {
  padding: 0 60rpx; }

.py-60 {
  padding: 60rpx 0; }

.pt-60 {
  padding-top: 60rpx; }

.pr-60 {
  padding-right: 60rpx; }

.pb-60 {
  padding-bottom: 60rpx; }

.pl-60 {
  padding-left: 60rpx; }

.p-70 {
  padding: 70rpx; }

.px-70 {
  padding: 0 70rpx; }

.py-70 {
  padding: 70rpx 0; }

.pt-70 {
  padding-top: 70rpx; }

.pr-70 {
  padding-right: 70rpx; }

.pb-70 {
  padding-bottom: 70rpx; }

.pl-70 {
  padding-left: 70rpx; }

.p-80 {
  padding: 80rpx; }

.px-80 {
  padding: 0 80rpx; }

.py-80 {
  padding: 80rpx 0; }

.pt-80 {
  padding-top: 80rpx; }

.pr-80 {
  padding-right: 80rpx; }

.pb-80 {
  padding-bottom: 80rpx; }

.pl-80 {
  padding-left: 80rpx; }

.p-90 {
  padding: 90rpx; }

.px-90 {
  padding: 0 90rpx; }

.py-90 {
  padding: 90rpx 0; }

.pt-90 {
  padding-top: 90rpx; }

.pr-90 {
  padding-right: 90rpx; }

.pb-90 {
  padding-bottom: 90rpx; }

.pl-90 {
  padding-left: 90rpx; }

.p-100 {
  padding: 100rpx; }

.px-100 {
  padding: 0 100rpx; }

.py-100 {
  padding: 100rpx 0; }

.pt-100 {
  padding-top: 100rpx; }

.pr-100 {
  padding-right: 100rpx; }

.pb-100 {
  padding-bottom: 100rpx; }

.pl-100 {
  padding-left: 100rpx; }

.p-110 {
  padding: 110rpx; }

.px-110 {
  padding: 0 110rpx; }

.py-110 {
  padding: 110rpx 0; }

.pt-110 {
  padding-top: 110rpx; }

.pr-110 {
  padding-right: 110rpx; }

.pb-110 {
  padding-bottom: 110rpx; }

.pl-110 {
  padding-left: 110rpx; }

.p-120 {
  padding: 120rpx; }

.px-120 {
  padding: 0 120rpx; }

.py-120 {
  padding: 120rpx 0; }

.pt-120 {
  padding-top: 120rpx; }

.pr-120 {
  padding-right: 120rpx; }

.pb-120 {
  padding-bottom: 120rpx; }

.pl-120 {
  padding-left: 120rpx; }

.p-130 {
  padding: 130rpx; }

.px-130 {
  padding: 0 130rpx; }

.py-130 {
  padding: 130rpx 0; }

.pt-130 {
  padding-top: 130rpx; }

.pr-130 {
  padding-right: 130rpx; }

.pb-130 {
  padding-bottom: 130rpx; }

.pl-130 {
  padding-left: 130rpx; }

.p-140 {
  padding: 140rpx; }

.px-140 {
  padding: 0 140rpx; }

.py-140 {
  padding: 140rpx 0; }

.pt-140 {
  padding-top: 140rpx; }

.pr-140 {
  padding-right: 140rpx; }

.pb-140 {
  padding-bottom: 140rpx; }

.pl-140 {
  padding-left: 140rpx; }

.p-150 {
  padding: 150rpx; }

.px-150 {
  padding: 0 150rpx; }

.py-150 {
  padding: 150rpx 0; }

.pt-150 {
  padding-top: 150rpx; }

.pr-150 {
  padding-right: 150rpx; }

.pb-150 {
  padding-bottom: 150rpx; }

.pl-150 {
  padding-left: 150rpx; }

.p-160 {
  padding: 160rpx; }

.px-160 {
  padding: 0 160rpx; }

.py-160 {
  padding: 160rpx 0; }

.pt-160 {
  padding-top: 160rpx; }

.pr-160 {
  padding-right: 160rpx; }

.pb-160 {
  padding-bottom: 160rpx; }

.pl-160 {
  padding-left: 160rpx; }

.p-170 {
  padding: 170rpx; }

.px-170 {
  padding: 0 170rpx; }

.py-170 {
  padding: 170rpx 0; }

.pt-170 {
  padding-top: 170rpx; }

.pr-170 {
  padding-right: 170rpx; }

.pb-170 {
  padding-bottom: 170rpx; }

.pl-170 {
  padding-left: 170rpx; }

.p-180 {
  padding: 180rpx; }

.px-180 {
  padding: 0 180rpx; }

.py-180 {
  padding: 180rpx 0; }

.pt-180 {
  padding-top: 180rpx; }

.pr-180 {
  padding-right: 180rpx; }

.pb-180 {
  padding-bottom: 180rpx; }

.pl-180 {
  padding-left: 180rpx; }

.p-190 {
  padding: 190rpx; }

.px-190 {
  padding: 0 190rpx; }

.py-190 {
  padding: 190rpx 0; }

.pt-190 {
  padding-top: 190rpx; }

.pr-190 {
  padding-right: 190rpx; }

.pb-190 {
  padding-bottom: 190rpx; }

.pl-190 {
  padding-left: 190rpx; }

.p-200 {
  padding: 200rpx; }

.px-200 {
  padding: 0 200rpx; }

.py-200 {
  padding: 200rpx 0; }

.pt-200 {
  padding-top: 200rpx; }

.pr-200 {
  padding-right: 200rpx; }

.pb-200 {
  padding-bottom: 200rpx; }

.pl-200 {
  padding-left: 200rpx; }

.p-210 {
  padding: 210rpx; }

.px-210 {
  padding: 0 210rpx; }

.py-210 {
  padding: 210rpx 0; }

.pt-210 {
  padding-top: 210rpx; }

.pr-210 {
  padding-right: 210rpx; }

.pb-210 {
  padding-bottom: 210rpx; }

.pl-210 {
  padding-left: 210rpx; }

.p-220 {
  padding: 220rpx; }

.px-220 {
  padding: 0 220rpx; }

.py-220 {
  padding: 220rpx 0; }

.pt-220 {
  padding-top: 220rpx; }

.pr-220 {
  padding-right: 220rpx; }

.pb-220 {
  padding-bottom: 220rpx; }

.pl-220 {
  padding-left: 220rpx; }

.p-230 {
  padding: 230rpx; }

.px-230 {
  padding: 0 230rpx; }

.py-230 {
  padding: 230rpx 0; }

.pt-230 {
  padding-top: 230rpx; }

.pr-230 {
  padding-right: 230rpx; }

.pb-230 {
  padding-bottom: 230rpx; }

.pl-230 {
  padding-left: 230rpx; }

.p-240 {
  padding: 240rpx; }

.px-240 {
  padding: 0 240rpx; }

.py-240 {
  padding: 240rpx 0; }

.pt-240 {
  padding-top: 240rpx; }

.pr-240 {
  padding-right: 240rpx; }

.pb-240 {
  padding-bottom: 240rpx; }

.pl-240 {
  padding-left: 240rpx; }

.p-250 {
  padding: 250rpx; }

.px-250 {
  padding: 0 250rpx; }

.py-250 {
  padding: 250rpx 0; }

.pt-250 {
  padding-top: 250rpx; }

.pr-250 {
  padding-right: 250rpx; }

.pb-250 {
  padding-bottom: 250rpx; }

.pl-250 {
  padding-left: 250rpx; }

.p-260 {
  padding: 260rpx; }

.px-260 {
  padding: 0 260rpx; }

.py-260 {
  padding: 260rpx 0; }

.pt-260 {
  padding-top: 260rpx; }

.pr-260 {
  padding-right: 260rpx; }

.pb-260 {
  padding-bottom: 260rpx; }

.pl-260 {
  padding-left: 260rpx; }

.p-270 {
  padding: 270rpx; }

.px-270 {
  padding: 0 270rpx; }

.py-270 {
  padding: 270rpx 0; }

.pt-270 {
  padding-top: 270rpx; }

.pr-270 {
  padding-right: 270rpx; }

.pb-270 {
  padding-bottom: 270rpx; }

.pl-270 {
  padding-left: 270rpx; }

.p-280 {
  padding: 280rpx; }

.px-280 {
  padding: 0 280rpx; }

.py-280 {
  padding: 280rpx 0; }

.pt-280 {
  padding-top: 280rpx; }

.pr-280 {
  padding-right: 280rpx; }

.pb-280 {
  padding-bottom: 280rpx; }

.pl-280 {
  padding-left: 280rpx; }

.p-290 {
  padding: 290rpx; }

.px-290 {
  padding: 0 290rpx; }

.py-290 {
  padding: 290rpx 0; }

.pt-290 {
  padding-top: 290rpx; }

.pr-290 {
  padding-right: 290rpx; }

.pb-290 {
  padding-bottom: 290rpx; }

.pl-290 {
  padding-left: 290rpx; }

.p-300 {
  padding: 300rpx; }

.px-300 {
  padding: 0 300rpx; }

.py-300 {
  padding: 300rpx 0; }

.pt-300 {
  padding-top: 300rpx; }

.pr-300 {
  padding-right: 300rpx; }

.pb-300 {
  padding-bottom: 300rpx; }

.pl-300 {
  padding-left: 300rpx; }

.p-310 {
  padding: 310rpx; }

.px-310 {
  padding: 0 310rpx; }

.py-310 {
  padding: 310rpx 0; }

.pt-310 {
  padding-top: 310rpx; }

.pr-310 {
  padding-right: 310rpx; }

.pb-310 {
  padding-bottom: 310rpx; }

.pl-310 {
  padding-left: 310rpx; }

.p-320 {
  padding: 320rpx; }

.px-320 {
  padding: 0 320rpx; }

.py-320 {
  padding: 320rpx 0; }

.pt-320 {
  padding-top: 320rpx; }

.pr-320 {
  padding-right: 320rpx; }

.pb-320 {
  padding-bottom: 320rpx; }

.pl-320 {
  padding-left: 320rpx; }

.p-330 {
  padding: 330rpx; }

.px-330 {
  padding: 0 330rpx; }

.py-330 {
  padding: 330rpx 0; }

.pt-330 {
  padding-top: 330rpx; }

.pr-330 {
  padding-right: 330rpx; }

.pb-330 {
  padding-bottom: 330rpx; }

.pl-330 {
  padding-left: 330rpx; }

.p-340 {
  padding: 340rpx; }

.px-340 {
  padding: 0 340rpx; }

.py-340 {
  padding: 340rpx 0; }

.pt-340 {
  padding-top: 340rpx; }

.pr-340 {
  padding-right: 340rpx; }

.pb-340 {
  padding-bottom: 340rpx; }

.pl-340 {
  padding-left: 340rpx; }

.p-350 {
  padding: 350rpx; }

.px-350 {
  padding: 0 350rpx; }

.py-350 {
  padding: 350rpx 0; }

.pt-350 {
  padding-top: 350rpx; }

.pr-350 {
  padding-right: 350rpx; }

.pb-350 {
  padding-bottom: 350rpx; }

.pl-350 {
  padding-left: 350rpx; }

.p-360 {
  padding: 360rpx; }

.px-360 {
  padding: 0 360rpx; }

.py-360 {
  padding: 360rpx 0; }

.pt-360 {
  padding-top: 360rpx; }

.pr-360 {
  padding-right: 360rpx; }

.pb-360 {
  padding-bottom: 360rpx; }

.pl-360 {
  padding-left: 360rpx; }

.p-370 {
  padding: 370rpx; }

.px-370 {
  padding: 0 370rpx; }

.py-370 {
  padding: 370rpx 0; }

.pt-370 {
  padding-top: 370rpx; }

.pr-370 {
  padding-right: 370rpx; }

.pb-370 {
  padding-bottom: 370rpx; }

.pl-370 {
  padding-left: 370rpx; }

.p-380 {
  padding: 380rpx; }

.px-380 {
  padding: 0 380rpx; }

.py-380 {
  padding: 380rpx 0; }

.pt-380 {
  padding-top: 380rpx; }

.pr-380 {
  padding-right: 380rpx; }

.pb-380 {
  padding-bottom: 380rpx; }

.pl-380 {
  padding-left: 380rpx; }

.p-390 {
  padding: 390rpx; }

.px-390 {
  padding: 0 390rpx; }

.py-390 {
  padding: 390rpx 0; }

.pt-390 {
  padding-top: 390rpx; }

.pr-390 {
  padding-right: 390rpx; }

.pb-390 {
  padding-bottom: 390rpx; }

.pl-390 {
  padding-left: 390rpx; }

.p-400 {
  padding: 400rpx; }

.px-400 {
  padding: 0 400rpx; }

.py-400 {
  padding: 400rpx 0; }

.pt-400 {
  padding-top: 400rpx; }

.pr-400 {
  padding-right: 400rpx; }

.pb-400 {
  padding-bottom: 400rpx; }

.pl-400 {
  padding-left: 400rpx; }

.p-410 {
  padding: 410rpx; }

.px-410 {
  padding: 0 410rpx; }

.py-410 {
  padding: 410rpx 0; }

.pt-410 {
  padding-top: 410rpx; }

.pr-410 {
  padding-right: 410rpx; }

.pb-410 {
  padding-bottom: 410rpx; }

.pl-410 {
  padding-left: 410rpx; }

.p-420 {
  padding: 420rpx; }

.px-420 {
  padding: 0 420rpx; }

.py-420 {
  padding: 420rpx 0; }

.pt-420 {
  padding-top: 420rpx; }

.pr-420 {
  padding-right: 420rpx; }

.pb-420 {
  padding-bottom: 420rpx; }

.pl-420 {
  padding-left: 420rpx; }

.p-430 {
  padding: 430rpx; }

.px-430 {
  padding: 0 430rpx; }

.py-430 {
  padding: 430rpx 0; }

.pt-430 {
  padding-top: 430rpx; }

.pr-430 {
  padding-right: 430rpx; }

.pb-430 {
  padding-bottom: 430rpx; }

.pl-430 {
  padding-left: 430rpx; }

.p-440 {
  padding: 440rpx; }

.px-440 {
  padding: 0 440rpx; }

.py-440 {
  padding: 440rpx 0; }

.pt-440 {
  padding-top: 440rpx; }

.pr-440 {
  padding-right: 440rpx; }

.pb-440 {
  padding-bottom: 440rpx; }

.pl-440 {
  padding-left: 440rpx; }

.p-450 {
  padding: 450rpx; }

.px-450 {
  padding: 0 450rpx; }

.py-450 {
  padding: 450rpx 0; }

.pt-450 {
  padding-top: 450rpx; }

.pr-450 {
  padding-right: 450rpx; }

.pb-450 {
  padding-bottom: 450rpx; }

.pl-450 {
  padding-left: 450rpx; }

.p-460 {
  padding: 460rpx; }

.px-460 {
  padding: 0 460rpx; }

.py-460 {
  padding: 460rpx 0; }

.pt-460 {
  padding-top: 460rpx; }

.pr-460 {
  padding-right: 460rpx; }

.pb-460 {
  padding-bottom: 460rpx; }

.pl-460 {
  padding-left: 460rpx; }

.p-470 {
  padding: 470rpx; }

.px-470 {
  padding: 0 470rpx; }

.py-470 {
  padding: 470rpx 0; }

.pt-470 {
  padding-top: 470rpx; }

.pr-470 {
  padding-right: 470rpx; }

.pb-470 {
  padding-bottom: 470rpx; }

.pl-470 {
  padding-left: 470rpx; }

.p-480 {
  padding: 480rpx; }

.px-480 {
  padding: 0 480rpx; }

.py-480 {
  padding: 480rpx 0; }

.pt-480 {
  padding-top: 480rpx; }

.pr-480 {
  padding-right: 480rpx; }

.pb-480 {
  padding-bottom: 480rpx; }

.pl-480 {
  padding-left: 480rpx; }

.p-490 {
  padding: 490rpx; }

.px-490 {
  padding: 0 490rpx; }

.py-490 {
  padding: 490rpx 0; }

.pt-490 {
  padding-top: 490rpx; }

.pr-490 {
  padding-right: 490rpx; }

.pb-490 {
  padding-bottom: 490rpx; }

.pl-490 {
  padding-left: 490rpx; }

.p-500 {
  padding: 500rpx; }

.px-500 {
  padding: 0 500rpx; }

.py-500 {
  padding: 500rpx 0; }

.pt-500 {
  padding-top: 500rpx; }

.pr-500 {
  padding-right: 500rpx; }

.pb-500 {
  padding-bottom: 500rpx; }

.pl-500 {
  padding-left: 500rpx; }

.p-510 {
  padding: 510rpx; }

.px-510 {
  padding: 0 510rpx; }

.py-510 {
  padding: 510rpx 0; }

.pt-510 {
  padding-top: 510rpx; }

.pr-510 {
  padding-right: 510rpx; }

.pb-510 {
  padding-bottom: 510rpx; }

.pl-510 {
  padding-left: 510rpx; }

.p-520 {
  padding: 520rpx; }

.px-520 {
  padding: 0 520rpx; }

.py-520 {
  padding: 520rpx 0; }

.pt-520 {
  padding-top: 520rpx; }

.pr-520 {
  padding-right: 520rpx; }

.pb-520 {
  padding-bottom: 520rpx; }

.pl-520 {
  padding-left: 520rpx; }

.p-530 {
  padding: 530rpx; }

.px-530 {
  padding: 0 530rpx; }

.py-530 {
  padding: 530rpx 0; }

.pt-530 {
  padding-top: 530rpx; }

.pr-530 {
  padding-right: 530rpx; }

.pb-530 {
  padding-bottom: 530rpx; }

.pl-530 {
  padding-left: 530rpx; }

.p-540 {
  padding: 540rpx; }

.px-540 {
  padding: 0 540rpx; }

.py-540 {
  padding: 540rpx 0; }

.pt-540 {
  padding-top: 540rpx; }

.pr-540 {
  padding-right: 540rpx; }

.pb-540 {
  padding-bottom: 540rpx; }

.pl-540 {
  padding-left: 540rpx; }

.p-550 {
  padding: 550rpx; }

.px-550 {
  padding: 0 550rpx; }

.py-550 {
  padding: 550rpx 0; }

.pt-550 {
  padding-top: 550rpx; }

.pr-550 {
  padding-right: 550rpx; }

.pb-550 {
  padding-bottom: 550rpx; }

.pl-550 {
  padding-left: 550rpx; }

.p-560 {
  padding: 560rpx; }

.px-560 {
  padding: 0 560rpx; }

.py-560 {
  padding: 560rpx 0; }

.pt-560 {
  padding-top: 560rpx; }

.pr-560 {
  padding-right: 560rpx; }

.pb-560 {
  padding-bottom: 560rpx; }

.pl-560 {
  padding-left: 560rpx; }

.p-570 {
  padding: 570rpx; }

.px-570 {
  padding: 0 570rpx; }

.py-570 {
  padding: 570rpx 0; }

.pt-570 {
  padding-top: 570rpx; }

.pr-570 {
  padding-right: 570rpx; }

.pb-570 {
  padding-bottom: 570rpx; }

.pl-570 {
  padding-left: 570rpx; }

.p-580 {
  padding: 580rpx; }

.px-580 {
  padding: 0 580rpx; }

.py-580 {
  padding: 580rpx 0; }

.pt-580 {
  padding-top: 580rpx; }

.pr-580 {
  padding-right: 580rpx; }

.pb-580 {
  padding-bottom: 580rpx; }

.pl-580 {
  padding-left: 580rpx; }

.p-590 {
  padding: 590rpx; }

.px-590 {
  padding: 0 590rpx; }

.py-590 {
  padding: 590rpx 0; }

.pt-590 {
  padding-top: 590rpx; }

.pr-590 {
  padding-right: 590rpx; }

.pb-590 {
  padding-bottom: 590rpx; }

.pl-590 {
  padding-left: 590rpx; }

.p-600 {
  padding: 600rpx; }

.px-600 {
  padding: 0 600rpx; }

.py-600 {
  padding: 600rpx 0; }

.pt-600 {
  padding-top: 600rpx; }

.pr-600 {
  padding-right: 600rpx; }

.pb-600 {
  padding-bottom: 600rpx; }

.pl-600 {
  padding-left: 600rpx; }

.p-610 {
  padding: 610rpx; }

.px-610 {
  padding: 0 610rpx; }

.py-610 {
  padding: 610rpx 0; }

.pt-610 {
  padding-top: 610rpx; }

.pr-610 {
  padding-right: 610rpx; }

.pb-610 {
  padding-bottom: 610rpx; }

.pl-610 {
  padding-left: 610rpx; }

.p-620 {
  padding: 620rpx; }

.px-620 {
  padding: 0 620rpx; }

.py-620 {
  padding: 620rpx 0; }

.pt-620 {
  padding-top: 620rpx; }

.pr-620 {
  padding-right: 620rpx; }

.pb-620 {
  padding-bottom: 620rpx; }

.pl-620 {
  padding-left: 620rpx; }

.p-630 {
  padding: 630rpx; }

.px-630 {
  padding: 0 630rpx; }

.py-630 {
  padding: 630rpx 0; }

.pt-630 {
  padding-top: 630rpx; }

.pr-630 {
  padding-right: 630rpx; }

.pb-630 {
  padding-bottom: 630rpx; }

.pl-630 {
  padding-left: 630rpx; }

.p-640 {
  padding: 640rpx; }

.px-640 {
  padding: 0 640rpx; }

.py-640 {
  padding: 640rpx 0; }

.pt-640 {
  padding-top: 640rpx; }

.pr-640 {
  padding-right: 640rpx; }

.pb-640 {
  padding-bottom: 640rpx; }

.pl-640 {
  padding-left: 640rpx; }

.p-650 {
  padding: 650rpx; }

.px-650 {
  padding: 0 650rpx; }

.py-650 {
  padding: 650rpx 0; }

.pt-650 {
  padding-top: 650rpx; }

.pr-650 {
  padding-right: 650rpx; }

.pb-650 {
  padding-bottom: 650rpx; }

.pl-650 {
  padding-left: 650rpx; }

.p-660 {
  padding: 660rpx; }

.px-660 {
  padding: 0 660rpx; }

.py-660 {
  padding: 660rpx 0; }

.pt-660 {
  padding-top: 660rpx; }

.pr-660 {
  padding-right: 660rpx; }

.pb-660 {
  padding-bottom: 660rpx; }

.pl-660 {
  padding-left: 660rpx; }

.p-670 {
  padding: 670rpx; }

.px-670 {
  padding: 0 670rpx; }

.py-670 {
  padding: 670rpx 0; }

.pt-670 {
  padding-top: 670rpx; }

.pr-670 {
  padding-right: 670rpx; }

.pb-670 {
  padding-bottom: 670rpx; }

.pl-670 {
  padding-left: 670rpx; }

.p-680 {
  padding: 680rpx; }

.px-680 {
  padding: 0 680rpx; }

.py-680 {
  padding: 680rpx 0; }

.pt-680 {
  padding-top: 680rpx; }

.pr-680 {
  padding-right: 680rpx; }

.pb-680 {
  padding-bottom: 680rpx; }

.pl-680 {
  padding-left: 680rpx; }

.p-690 {
  padding: 690rpx; }

.px-690 {
  padding: 0 690rpx; }

.py-690 {
  padding: 690rpx 0; }

.pt-690 {
  padding-top: 690rpx; }

.pr-690 {
  padding-right: 690rpx; }

.pb-690 {
  padding-bottom: 690rpx; }

.pl-690 {
  padding-left: 690rpx; }

.p-700 {
  padding: 700rpx; }

.px-700 {
  padding: 0 700rpx; }

.py-700 {
  padding: 700rpx 0; }

.pt-700 {
  padding-top: 700rpx; }

.pr-700 {
  padding-right: 700rpx; }

.pb-700 {
  padding-bottom: 700rpx; }

.pl-700 {
  padding-left: 700rpx; }

.p-710 {
  padding: 710rpx; }

.px-710 {
  padding: 0 710rpx; }

.py-710 {
  padding: 710rpx 0; }

.pt-710 {
  padding-top: 710rpx; }

.pr-710 {
  padding-right: 710rpx; }

.pb-710 {
  padding-bottom: 710rpx; }

.pl-710 {
  padding-left: 710rpx; }

.p-720 {
  padding: 720rpx; }

.px-720 {
  padding: 0 720rpx; }

.py-720 {
  padding: 720rpx 0; }

.pt-720 {
  padding-top: 720rpx; }

.pr-720 {
  padding-right: 720rpx; }

.pb-720 {
  padding-bottom: 720rpx; }

.pl-720 {
  padding-left: 720rpx; }

.p-730 {
  padding: 730rpx; }

.px-730 {
  padding: 0 730rpx; }

.py-730 {
  padding: 730rpx 0; }

.pt-730 {
  padding-top: 730rpx; }

.pr-730 {
  padding-right: 730rpx; }

.pb-730 {
  padding-bottom: 730rpx; }

.pl-730 {
  padding-left: 730rpx; }

.p-740 {
  padding: 740rpx; }

.px-740 {
  padding: 0 740rpx; }

.py-740 {
  padding: 740rpx 0; }

.pt-740 {
  padding-top: 740rpx; }

.pr-740 {
  padding-right: 740rpx; }

.pb-740 {
  padding-bottom: 740rpx; }

.pl-740 {
  padding-left: 740rpx; }

.p-750 {
  padding: 750rpx; }

.px-750 {
  padding: 0 750rpx; }

.py-750 {
  padding: 750rpx 0; }

.pt-750 {
  padding-top: 750rpx; }

.pr-750 {
  padding-right: 750rpx; }

.pb-750 {
  padding-bottom: 750rpx; }

.pl-750 {
  padding-left: 750rpx; }
