.bg-gray-50 {
  background-color: #F9FAFB; }

.bg-gray-100 {
  background-color: #F3F4F6; }

.bg-gray-200 {
  background-color: #E5E7EB; }

.bg-gray-300 {
  background-color: #D1D5DB; }

.bg-gray-400 {
  background-color: #9CA3AF; }

.bg-gray-500 {
  background-color: #6B7280; }

.bg-gray-600 {
  background-color: #4B5563; }

.bg-gray-700 {
  background-color: #374151; }

.bg-gray-800 {
  background-color: #1F2937; }

.bg-gray-900 {
  background-color: #111827; }

.bg-red-500 {
  background-color: #EF4444; }

.bg-red-600 {
  background-color: #DC2626; }

.bg-red-700 {
  background-color: #B91C1C; }

.bg-red-800 {
  background-color: #991B1B; }

.bg-red-900 {
  background-color: #7F1D1D; }

.bg-white {
  background-color: #ffffff; }
